/* 轮播图 */
.lunbo {
    margin: auto;
    /* border: solid 1px; */
    width: 1820px;
    height: 780px;
    /* overflow: hidden; */
}

.lunbo img {
    /* border: solid 1px; */
    height: 780px;
    /* width: 1380px; */
    margin-left: 220px;
}

.lunbo1 {
    border: solid 1px red;
    height: 780px;
    overflow: hidden;
}

.point {
    border: solid 1px;
    height: 140px;
    width: 30px;
    position: absolute;
    top: 500px;
    right: 120px;
}

.point>li {
    border: solid 1px;
    border-radius: 50%;
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

#active {
    position: relative;
    width: 1700px;
    height: 450px;
    border: solid 1px;
    margin: auto;
    padding-left: 120px;
}

#active>div {
    height: 100px;
}

#active>div>span:nth-of-type(1) {
    font-size: 32px;
    line-height: 120px;
    margin-right: 10px;
    font-weight: 200;
}

#active>div>span:nth-of-type(2) {
    font-size: 24px;
    color: #761818;
    font-weight: 300;
}

.news {
    width: 100%;
    height: 300px;
    /* border: solid 1px; */
}

.news li {
    /* border: solid 1px; */
    height: 72px;

}

.news li div:nth-of-type(1) {
    width: 200px;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    /* border: solid 1px; */
    line-height: 72px;
}

.news li div:nth-of-type(2) {
    width: 700px;
    float: left;
    font-size: 18px;
    /* border: solid 1px; */
    letter-spacing: 4px;
    line-height: 72px;

}

.news a {
    color: #333;
}

#line {
    width: 602px;
    /* height: 1px; */
    border-bottom: 1px solid #333;
    margin-top: 50px;
    margin-left: 900px;
    /* background-color: #333; */
}
/* 按钮 */
.btn{
    position: absolute;
    /* border: solid 1px; */
    width: 130px;
    height: 70px;
    left: 1520px;
    top: 70px;
    padding: 10px 20px;
}
.btn button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid;
    font-size: 30px;
    color: #761818;
    font-weight: 100;
}
.btn button:nth-of-type(2){
    margin-left: -5px;
    background-color: #761818;
    color: white;
    border: #761818 1px;
}
.btn button:nth-of-type(1):hover{
    background-color: rgb(230, 222, 222);
    color: #8a3a3a;
    border: 1px transparent solid;
    transition:all 1.3s;

}
.btn button:nth-of-type(2):hover{
    background-color: rgb(230, 222, 222);
    color: #761818;
    transition:all 1s;
}