*{
    padding: 0px;
    margin: 0px;
}
.news2Center{
    width: 98%;
    margin: 0 auto;
    height: auto;
}
.news2Center_img{
    height: auto;
    margin-top: 1px;
}
.news2Center_img>img{
    width: 100%;
}
.news2Center_menu{
    margin-top: 28px;
    margin-left: 271px;
}
.news2Center_menu>ul{
    border-bottom: 1px solid #e6e6e6;
    list-style: none;
    position: relative;
    height: 64px;
}
.news2Center_menu>ul>a>li{
    line-height: 37px;
    float: left;
    height: 60px;
    font-size: 14px;
    padding: 0 20px;
}
.news2Center_menu>ul>a:nth-child(1)>li{
    color: #909399;
}
.news2Center_menu>ul>a:nth-child(1)>li:hover{
    color: #303133;
}
.news2Center_menu>ul>a:nth-child(2)>li{
    color: #303133;
    border-bottom: 3px solid #761818;
}
.news2Center>span{
    display: block;
    border-top: 1px solid #e1e1e1;
    width: 100%;
    height: 1px;
}
.news2Center_content{
    width: 1140px;
    height: auto;
    margin: 0 auto;
}
.news2Center_details{
    width: 885px;
    height: auto;
    border-right: 1px solid #e1e1e1;
    margin-bottom: 30px;
    padding-top: 64px;
}
.body{
    width: 885px;
    height: 180px;
    margin-bottom: 26px;
}
.body_img{
    width: 330px;
    height: 180px;
    float: left;
    cursor: pointer;
}
.body_text{
    width: 444px;
    height: 180px;
    float: left;
    cursor: pointer;
    border-bottom: 1px solid #ecf0f5;
}
.body_text_one{
    background-color: #ecf0f5;
}
.body_text:hover{
    background-color: #ecf0f5;
}
.body_img>img{
    width: 100%;
    height: 100%;
}
.body_text_time{
    margin-top: 17px;
    margin-left: 65px;
    font-family: STXihei;
    font-size: 20px;
    color: #4b617b;
}
.body_text_time>span{
    display: block;
    width: 5px;
    height: 15px;
    background-color: #761818;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.body_text_publisher{
    font-family: STXihei;
    font-size: 14px;
    font-weight: 700;
    margin-left: 65px;
    margin-top: 15px;
    color: #4b617b;
}
.body_text_content{
    width: 330px;
    height: 25px;
    font-family: STXihei;
    font-size: 18px;
    color: #112342;
    margin-left: 65px;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.body_text_img{
    width: 49px;
    height: 49px;
    background-color: #ecf0f5;
    float: right;
    margin-top: 14px;
}
.body_text_img>img{
    cursor: pointer;
    width: 16px;
    float: right;
    margin-top: 17px;
    margin-right: 17px;
}
