*{
    padding: 0px;
    margin: 0px;
}

.all{
    width: 930px;
    height: 1680px;
    border-bottom: #761818 1px;
    background-color: aqua;
}
#news{
    width: 100%;
    height: 102px;
    margin-top: -20px;
    position: absolute;
}
#news>img{
    width: 96%;
    margin-left: 2%;
}
#nav{
    position: absolute;
    width: 96%;
    height: 100PX;
    margin-left: 2%;
    border-bottom: #E1E1E1 solid 2px;
    top: 28%;
}
#nav>a{
    position: relative;
    float: left;
    top: 0px;
    left: 14.5%;
    font-size: 15px;
    width: 102px;
    text-align: center;
    height: 96%;
    line-height: 110px;
    font-size: 13.5px;
}
.navLeft{
    border-bottom: #761818 solid 3px;
    color: #303133;
}
.navRight{
    color: #909399;
}
.navRight:hover{
    color: #303133;
}
#container{
    position: absolute;
    border: 1px solid;
    width: 60%;
    height: 500px;
    top: 41%;
    left: 20%;
}
#container>.con_left{
    float: left;
    border: solid 1px;
    width: 39%;
    height: 500px;
}
#container>.con_right{
    float: left;
    border: 1px solid;
    width: 60%;
    height: 500px;
}