.all{
    /* border: solid 1px; */
    height: 900px;
}

.dakuang{
    width: 100%;
    min-height: 800px;
    border-right:1px solid #e1e1e1;
    margin-top: 50px;
}

#tu1{
    max-width: 1682px;
    width: 100%;
    margin-bottom: 35px;
    height: 200px;
    border-bottom:1px solid #e1e1e1;
}

#tu1>a{
    width: 64px;
    height: 90px;
    margin-left: 320px;
    line-height: 90px;
    border-bottom: 3px solid #761818;
    display: block;
    font-family: STXihei;
    padding-bottom: 3px;
    font-size: 14px;
}


#renwu{
    margin-left: 20px;
    font-family: STXihei;
    font-size: 14px;
    line-height: 24px;
    
}


#tu2{
    margin-left: 20px;
}

#tu2 img{
    width: 780px;
    height: 274px;
}

#rw2{
    margin-left: 20px;
    line-height: 50px;
}

#rw2 p{
    font: 16px STXihei ;
}

#qy{
    margin-left: 20px;
    margin-top: 20px;
}


.neirong{
    float: left;
    margin-left: 300px;
}

#rw2>h2{
    font: 18px STXihei;
    line-height: 30px;
}

#qy h3{
    font: 18px STXihei;
    line-height: 40px;
}

.dibu{
    margin-top: 40px;
    justify-content: space-between;
    width: 100%;
    height: 115px;
}